// Colors
// ------

$black: #333333;
$blue: #7DBDEC;
$pink: #E074A3;
$white: #ffffff;

// Fonts
// -----

$arialFont: Arial, sans-serif;
// Widths
// ------

$tabletWidth: 767px;
$desctopWidth: 1300px;